.outPut{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.outPut-card{
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.select{
  height: 40px;
  width: 60px;
  font-size: 28px;
  margin-left: 10px;
}

.dropDownBtn{
  background-color: white;
  height: 35px;
  width: 80px;
  font-size: 30px;
  border: ridge
}
.dropDown{
  display: flex;
}
.dropDown-slyder-btn{
  height: 62px;
  width: 62px;
  margin: 10px;
}
.slyder{
  display: flex;
}
.none{
  display: none;
}