.outPut{
  max-width: 1440px;
}
.outPut-search{
  display: flex;
  justify-content: center;
}

.dropDownBtn{
  background-color: white;
  height: 35px;
  width: 80px;
  font-size: 30px;
  border: ridge
}
.dropDown{
  display: flex;
  justify-content: center;
}
.dropDown-slyder-btn{
  height: 62px;
  width: 62px;
}
.dropDown-slyder{
  display: flex;
}